.header {
    background-image: url("https://www.shutterbug.com/images/0616gallery07.jpg");
    background-position: center;
    background-size: cover;
    padding: 3rem;
    margin-bottom: 1.5rem;
    height: 80vh
}

.title {
    font-size: 3rem;
    margin-right: 72%;
}

.details {
    font-size: 1.3rem;
}
.details2 {
    font-size: 1.3rem;
    margin-right: 29%;
}

.explore {
    margin-right: 56%;
}

body {
    text-align: center;
}
/* categories */
.category-header {
    text-align: center;
}

.display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.image-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* images */
.all-images {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 25px
}
.category-image img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* form */
.add-form {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}